@import url("../node_modules/modern-normalize/");

.moderustic-normal {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: "auto";
  font-weight: "600";
  font-style: "normal";
}

body {
  background-color: black;
  font-family: "Moderustic";
}

div.default {
  display: grid;
  position: fixed;
  align-content: start;
  justify-content: center;
  justify-items: center;

  width: 100svw;
  height: 100svh;
  margin-top: 23vh;
}

img.bg {
  position: fixed;
  width: 100svw;
  height: 100svh;
  opacity: 50%;
}

h1.title {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.search-div {
  display: flex;
  gap: 20px;
  margin-top: 5vh;
}

.search-btn {
  font-size: 0.8em;
  padding: 0.5em;
  border: none;
  background-color: white;
  border-radius: 30px;
}

.search-btn:active {
  background-color: rgb(180, 180, 180);
}

div.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
