@import url("../node_modules/modern-normalize/");

body {
  background-color: black;
}

div.default {
  display: grid;
  position: fixed;

  width: 100svw;
  height: 100svh;
  align-content: center;
  justify-content: center;
}

img.bg {
  position: fixed;
  width: 100svw;
  height: 100svh;
  opacity: 50%;
}

h1.title {
  color: white;
  font-size: 4rem;
}
